

html {
  background-color: rgb(114, 9, 234);

}

body {
  text-align: center;
  font-size: 15px;

}

h1 {
  font-size: 50px;
}

img {
  height: 200px auto;
}

div {
  border: 1px solid gainsboro;
  margin: 15px;
}

#introPic {
  float: left;
}

#bio {
  float: right;
  display: flex;
  flex-direction row;
}
#bio > li {
  padding:  50px, 10px, 10px, 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
overflow: hidden;




}

#pro {
  width: auto;
}

#earlylife{
  display: flex;
  justify-content: center;
  text-align: center ;

}


#stuff{
  display: flex;
  align-items: left;
  justify-content: center;
}

@media (max-width: 400px) {
} img {
  height: 100px;

}
